---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-links">
        <a
          href="https://cdn.prod.website-files.com/6725ce0ae1cd1b3820f1f9be/6727397f82aa37fea657d62b_MP-PrivacyPolicy.pdf"
          >privacy/data</a
        >
        <a href="https://calendly.com/przadka/30min">book a meeting</a>
      </div>

      <div class="social">
        <Socials centered />
      </div>
    </div>
    <div class="credits-content">
      <span class="credits"
        >Copyright © {currentYear} | All rights reserved.</span
      >
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full bg-skin-accent;
  }
  .footer-wrapper {
    @apply pb-6 sm:px-12;
  }
  .footer-content {
    @apply flex w-full items-start justify-between px-6 py-6 sm:py-12 sm:pl-[16.95vw] sm:pr-0;
  }
  .footer-links {
    @apply flex flex-col items-start justify-start gap-2 text-base sm:pl-[16.95vw];
  }
  .footer-links a {
    @apply leading-[122%] tracking-[.4px] outline-none;
    -webkit-text-stroke-width: 1px;
  }
  .footer-links a:hover,
  .footer-links a.active {
    -webkit-text-stroke: 1.5px rgb(var(--color-text-base));
  }
  .social {
    @apply flex flex-col items-end gap-3;
  }
  .credits-content {
    @apply flex justify-end gap-2 max-sm:px-6;
  }
  .credits {
    @apply text-sm;
  }
</style>
