---
import { SOCIALS } from "@/config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@/assets/socialIcons";
import LinkedIn from "./icons/LinkedIn.astro";
import X from "./icons/X.astro";
import Github from "./icons/Github.astro";
import RSS from "./icons/RSS.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;

const iconsOverrides = ["LinkedIn", "X", "Github", "RSS"];

const Icons = {
  LinkedIn: LinkedIn,
  X: X,
  Github: Github,
  RSS: RSS,
};
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
      >
        {iconsOverrides.includes(social.name) ? (
          social.name === "LinkedIn" ? (
            <LinkedIn />
          ) : social.name === "X" ? (
            <X />
          ) : social.name === "Github" ? (
            <Github />
          ) : social.name === "RSS" ? (
            <RSS />
          ) : null
        ) : (
          <Fragment set:html={socialIcons[social.name]} />
        )}
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-3;
  }
  .link-button {
    @apply grid h-8 w-8 place-items-center rounded-full bg-black p-2 text-white hover:fill-white hover:text-white sm:h-12 sm:w-12;
  }
</style>
